APPLE_CLIENT_ID=com.sheepfarm.next.dev
APPLE_TEAM_ID=REPLACE_WITH_APPLE_TEAM_ID
APPLE_KEY_ID=REPLACE_WITH_APPLE_KEY_ID
APPLE_PRIVATE_KEY=REPLACE_WITH_P8_CONTENT
SESSION_SIGNING_SECRET=REPLACE_WITH_32_BYTE_SECRET
CREDENTIAL_ENCRYPTION_KEY=REPLACE_WITH_BASE64_32_BYTE_KEY
CAPABILITY_SIGNING_PRIVATE_KEY=REPLACE_WITH_P256_PKCS8_PRIVATE_KEY
CAPABILITY_SIGNING_KEY_ID=development-1
