IDENTITY_WORKER_URL =
CAPABILITY_SIGNING_PUBLIC_KEY_PEM =
CAPABILITY_SIGNING_ROTATED_KEY_ID = development-2026-08-supabase-v1
CAPABILITY_SIGNING_ROTATED_PUBLIC_KEY_PEM = -----BEGIN PUBLIC KEY-----\nMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEgi7KdWp$(XC_SLASH)4y1jHBDshsWQ83fR6BCe\ne1rVQiHfLFFlxqZe8ObNcZCP1ibH86IIbcAUiAQfw$(XC_SLASH)IlgpH6VWaQ00RvNQ==\n-----END PUBLIC KEY-----
INVITATION_URL_SCHEME = esheep
SUPABASE_URL =
SUPABASE_PUBLISHABLE_KEY =
SUPABASE_ENABLED = YES
XC_SLASH = /

#include? "DevelopmentEnvironment.local.xcconfig"
