<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_ENVIRONMENT</key>
	<string>$(APP_ENVIRONMENT)</string>
	<key>APP_GROUP_IDENTIFIER</key>
	<string>$(APP_GROUP_IDENTIFIER)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.sheepfarm.esheepnext.refresh</string>
	</array>
	<key>CAPABILITY_SIGNING_PUBLIC_KEY_PEM</key>
	<string>$(CAPABILITY_SIGNING_PUBLIC_KEY_PEM)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.sheepfarm.esheep.deep-link</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(INVITATION_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>IDENTITY_WORKER_URL</key>
	<string>$(IDENTITY_WORKER_URL)</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_esheep-invite._tcp</string>
	</array>
	<key>SUBSCRIPTIONS_ENABLED</key>
	<string>$(SUBSCRIPTIONS_ENABLED)</string>
	<key>SUPABASE_ENABLED</key>
	<string>$(SUPABASE_ENABLED)</string>
	<key>SUPABASE_PUBLISHABLE_KEY</key>
	<string>$(SUPABASE_PUBLISHABLE_KEY)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>eSheep 完整备份</string>
			<key>UTTypeIdentifier</key>
			<string>com.sheepfarm.ios.portable-backup</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>esheep-backup</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.esheep.portable-backup+json</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
